body {
	background-color:#c2c2d6;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin:auto;
	
}

h1{
	font-size: 14px;
	text-align: center;
}

.controls .result{
	margin:auto;
}

.result {
	font-size: 12px
}